*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x:hidden;
}
h1 {
    font-family: "Moon Dance", serif;
  
}
.carousel-item img {
    height: 100vh;
}

.card-body img {
    min-width: 50%;
    max-height: 200px;
}

.footer h1{
    font-size: 1.7rem;
}